{% if quiz %}
{# If a quiz has been passed down into this include, then it's intepreted as an edit page #}
    <form action="/quizzes/{{ quiz.id }}" method="post">
{% else %}
{# Otherwise, it's a create page #}
    <form action="/quizzes/" method="post">
{% endif %}
    <div>
        <label for="name">Enter a new name:</label>
        {# same if else with regards to the name field #}
        {% if quiz %}
        <input id="name" type="text" name="name" value="{{ quiz.name }}"/>
        {% else %}
        <input id="name" type="text" name="name"/>
        {% endif %}
    </div>
    <input type="submit" value="Save Quiz"/>
</form> 