<!DOCTYPE html>
<html>
<head>
    <title>Hello title</title>
</head>
<body>
{# defines our "main_content" block
anything named "main_content" (in this case home.twig) gets populated here #}
    {% block main_content %}
    {% endblock %}
</body>
</html>